---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@3.0.0
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write

  integration:
    needs: 'lint-unit'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - 'almalinux-8'
          - 'almalinux-9'
          - 'amazonlinux-2023'
          - 'centos-7'
          - 'centos-stream-8'
          - 'centos-stream-9'
          - 'oraclelinux-7'
          - 'oraclelinux-8'
          - 'oraclelinux-9'
          - 'rockylinux-8'
          - 'rockylinux-9'
        suite:
          - 'default'
          - 'all'
      fail-fast: false

    steps:
      - name: Check out code
        uses: actions/checkout@v4 # v4
      - name: Install Chef
        uses: actionshub/chef-install@2.0.4
      - name: Dokken
        uses: actionshub/test-kitchen@2.1.0
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
